<%= provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @volunteer.name %></h1>
      <span><%= link_to "view my profile", @volunteer %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @volunteers.any? %>
      <ul class="volunteers">
        <%= render @volunteers %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>