<div class="event_show">


  <% if session[:volunteer_id] == @volunteer.id %>

    <p><%= image_tag current.image %> Hi <%=current.name%>!</p>
    <p><b>Email:</b> <%= @volunteer.email %></p><br>

    <%= render 'shared/stats' %>

    <!-- if signed_in? -->
    <%= render 'follow_form'  %>
    
  <h3>You are volunteering at the following events:</h3>

  	<% @volunteer.registrations.each do |r| %>
  	<p>	
  		<p><%= link_to r.event.name, event_url(r.event.id)%> | <%= link_to "Cancel Reservation", registration_url(r.id), :method => :delete %></p>
  	</p>
  	<%end%>
    
    <% else %>
    
    <p> <%= image_tag @volunteer.image %></p>
    <p> <%= @volunteer.name %></p>
    <p><b>Email:</b> <%= @volunteer.email %></p><br>
    
    <%= render 'shared/stats' %>

    <!-- if signed_in? -->
    <%= render 'follow_form'  %>
    
    <h3><%= @volunteer.name %> is volunteering at the following events:</h3>

    	<% @volunteer.registrations.each do |r| %>
    	<p>	
    		<p><%= link_to r.event.name, event_url(r.id)%></p>
    	</p>
    	<% end %>
  <%end%>
  <br>

  <p><%= link_to "Events", events_url %></p>
</div>