<div class="main">
  <div class="d">
    <div class="eheadline">
      <%= image_tag('logo.png', size: '300x140') %>
    </div>
    <div class="f">
      <p>Make A Difference Today!</p>
    </div>
  </div>  
  <div class="eimg">
    <%= link_to image_tag('jump.png'),  new_volunteer_url %>
  </div>
    <div class="e">
      <div class="ee">
        <p><%= link_to "About Us", "#" %></p><br>
        <p><%= link_to "Contact Us", "#" %></p><br>
        <p><%= link_to "Privacy", "#" %></p><br>
        <p><%= link_to "Terms", "#" %></p><br>
        <p><%= link_to "Jobs", "#" %></p>
      </div>
      <div class="ehome">
        <h1>A Sample of Our Events</h1>
          <% @event.each do |e| %>
            <p> <%= link_to e.name, event_url(e.id) %></p>
            <p><%= e.date %></p>
            <br>
        <% end %>
      </div>
    </div>
</div>