<div class="main">
    <div class="table_field">
      <div class="feed">
        <h3>Volunteer with your friends!</h3>
  	    <%= render "shared/feed" %>
  	  </div>  
  	</div>    
			<% @events.each do |event| %>
				<div class="table_field">	
			      <h4><%= event.name %></h4>
						<p><%= truncate(event.description, length: 70) %></p>
            <p><%= link_to "More", event %></p><br>
						<p><%= event.date %></p>	
			      <p><button type="button"><%= link_to "Register", new_registration_url(event_id: event.id, volunteer_id: session[:volunteer_id]) %></button></p>		
				</div>
	  	<% end %>
</div> <!-- event -->


