<div class="event"> 
	
	<div class="facebook">		
			<% unless current == nil %>
					<p><%= image_tag current.image %></p>
			<% end %>

		  <% if session[:volunteer_id] %>
					<% unless current == nil %>
					<p>Logged in as <%=current.name%></p>
					<p><%= link_to "My Profile", volunteer_url(session[:volunteer_id]) %></p>
					<p><%= link_to "Log out", log_out_url %></p>
					<% end %>
		  <% else %>
				<p><%= link_to "Sign up", new_volunteer_url %> or <%= link_to "log in", log_in_url  %></p>
		  <% end %>
		  
		  <h2>Friend Feed</h2>
		  <%= render "shared/feed" %> 
	</div> <!-- facebook -->
	
  <div class="main">
			<% @events.each do |event| %>
				<div class="table_field">	
			      <p><%= link_to event.name, event %></p>
						<p><%= event.organization.name %></p>
			      <p><%= event.location %></p>
			      <p><%= event.category %></p> 		
				</div>
	  	<% end %>
  </div> <!-- main -->
</div> <!-- event -->


