<div class="event_show">
  <p style="font-size:25px">  
    <b><%= @event.name %></b>
  </p><br>
  <p>
    <b>Description:</b>
    <%= @event.description %>
  </p>
  <p>
    <b>Organization:</b>
    <%= link_to @event.organization.name, organization_url(@event.organization.id) %>
  </p>
  <p>
    <b>Location:</b>
    <%= @event.location %>
        
  </p>
  <p>
    <b>Category:</b>
    <%= @event.category %>
  </p>
<button type="button"><%= link_to "Register", new_registration_url(event_id: @event.id, volunteer_id: session[:volunteer_id]) %></button>
  <h4>List of the good people helping us out:</h4>
  <%@event.registrations.each do |r| %>
  <li><%= image_tag r.volunteer.image %> <%= link_to r.volunteer.name, volunteer_url(r.volunteer_id)%></li>
	
  <%end%><br>

  <%= gmaps4rails(@json)%>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
