<div class="event_show">

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @organization.name %>
  </p>

  <p>
    <b>Location:</b>
    <%= @organization.location %>
  </p>

  <p>
    <b>Contact:</b>
  </p>

  <p>
    <b>Phone:</b>
    <%= @organization.phone %>
  </p>
  <br>
  <h2>Events:</h2>
    <% @organization.events.each do |e| %>
      <p><%= link_to e.name, event_url(e.id) %></p>
    <% end %><br>
</div>