<div class ="header">

  <div class="h1">	
  <%= link_to image_tag('logo.png', size: '300x140'), events_url %>
  </div>	
  
  <div class="facebook">	

	  <% if session[:volunteer_id] %>
				<% unless current == nil %>
				<p><%= image_tag current.image %> Hi <%=current.name%>! | <%= link_to "Profile", volunteer_url(current.id) %> | <%= link_to "Logout", log_out_url %></p>
				<% end %>
	  <% else %>
			<p><%= link_to "Sign up", new_volunteer_url %> | <%= link_to "log in", log_in_url  %></p>
	  <% end %>
	</div>

	<div class="clear"></div>

	<div id ="search">
  	<p><%= link_to "Contact us", "#" %></p>
  	<p><%= link_to "About us", "#" %></p> 
	</div>
</div>