<div class ="header">

	<h1><%= link_to "VOLUNTR.ME", events_url %></h1>
	
	<div id="search">	<form action="<%= events_url %>" method="get">
		    <label for="keyword"></label>
		    <input type="search" name="keyword" placeholder="Search" color="black" size="30">
		  </form><br><br>
	<%= link_to "Help", "#" %>  <%= link_to "Log Out", "#" %>
	</div>

		<% if flash[:notice] %>
		  <p class = "notice">
		  <%= flash[:notice] %>
		  </p>
		<% end %>
	
	<div class="clear"></div>
</div>