<!DOCTYPE html>
<html>
<head>
  <title>Voluntr.Me</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  
</head>

<body id="wrapper">
		<%= render 'layouts/header' %>	

<%= yield %>
  
  <%= render 'layouts/footer' %>	

</body>
</html>
